# https://hackernoon.com/what-steps-should-one-take-while-doing-data-preprocessing-502c993e1caa

In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
import warnings
warnings.filterwarnings("ignore")

In [23]:
heart = pd.read_csv('/home/multispiros/python data science/heart disease/heart.csv')

In [24]:
heart.head(6)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1

In [25]:
heart.shape

(303, 14)

In [26]:
heart.index

RangeIndex(start=0, stop=303, step=1)

In [27]:
heart.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [28]:
heart.isnull().sum().sum()

0

In [29]:
heart.loc[30,'age']

41

In [30]:
heart.head(3)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1

In [31]:
heart.columns = ['age', 'sex', 'chest_pain_type', 'resting_blood_pressure', 'cholesterol', 'fasting_blood_sugar', 'rest_ecg', 'max_heart_rate_achieved',
       'exercise_induced_angina', 'st_depression', 'st_slope', 'num_major_vessels', 'thalassemia', 'target']

In [32]:
heart.iloc[6:10]

,age,sex,chest_pain_type,resting_blood_pressure,cholesterol,fasting_blood_sugar,rest_ecg,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,target
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

In [33]:
heart.dtypes

age                          int64
sex                          int64
chest_pain_type              int64
resting_blood_pressure       int64
cholesterol                  int64
fasting_blood_sugar          int64
rest_ecg                     int64
max_heart_rate_achieved      int64
exercise_induced_angina      int64
st_depression              float64
st_slope                     int64
num_major_vessels            int64
thalassemia                  int64
target                       int64
dtype: object

In [34]:
heart['sex'][heart['sex'] == 0] = 'female'
heart['sex'][heart['sex'] == 1] = 'male'

In [35]:
heart['chest_pain_type'][heart['chest_pain_type'] == 0] = 'typical angina'
heart['chest_pain_type'][heart['chest_pain_type'] == 1] = 'atypical angina'
heart['chest_pain_type'][heart['chest_pain_type'] == 2] = 'non-anginal pain'
heart['chest_pain_type'][heart['chest_pain_type'] == 3] = 'asymptomatic'

In [36]:
heart['fasting_blood_sugar'][heart['fasting_blood_sugar'] == 0] = 'sugar_lower than 120mg/ml'
heart['fasting_blood_sugar'][heart['fasting_blood_sugar'] == 1] = 'sugar_greater than 120mg/ml'

In [37]:
heart['rest_ecg'][heart['rest_ecg'] == 0] = 'normal'
heart['rest_ecg'][heart['rest_ecg'] == 1] = 'ST-T wave abnormality'
heart['rest_ecg'][heart['rest_ecg'] == 2] = 'left ventricular hypertrophy'

In [38]:
heart['exercise_induced_angina'][heart['exercise_induced_angina'] == 0] = 'no'
heart['exercise_induced_angina'][heart['exercise_induced_angina'] == 1] = 'yes'

In [39]:
heart['st_slope'][heart['st_slope'] == 0] = 'upsloping'
heart['st_slope'][heart['st_slope'] == 1] = 'flat'
heart['st_slope'][heart['st_slope'] == 2] = 'downsloping'

In [40]:
heart['thalassemia'][heart['thalassemia'] == 1] = 'normal'
heart['thalassemia'][heart['thalassemia'] == 2] = 'fixed defect'
heart['thalassemia'][heart['thalassemia'] == 3] = 'reversable defect'

In [41]:
heart['sex'] = heart['sex'].astype('object')
heart['chest_pain_type'] = heart['chest_pain_type'].astype('object')
heart['fasting_blood_sugar'] = heart['fasting_blood_sugar'].astype('object')
heart['rest_ecg'] = heart['rest_ecg'].astype('object')
heart['exercise_induced_angina'] = heart['exercise_induced_angina'].astype('object')
heart['st_slope'] = heart['st_slope'].astype('object')
heart['thalassemia'] = heart['thalassemia'].astype('object')

In [42]:
heart.dtypes

age                          int64
sex                         object
chest_pain_type             object
resting_blood_pressure       int64
cholesterol                  int64
fasting_blood_sugar         object
rest_ecg                    object
max_heart_rate_achieved      int64
exercise_induced_angina     object
st_depression              float64
st_slope                    object
num_major_vessels            int64
thalassemia                 object
target                       int64
dtype: object

In [43]:
heart.head()

,age,sex,chest_pain_type,resting_blood_pressure,cholesterol,fasting_blood_sugar,rest_ecg,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,target
0,63,male,asymptomatic,145,233,sugar_greater than 120mg/ml,normal,150,no,2.3,upsloping,0,normal,1
1,37,male,non-anginal pain,130,250,sugar_lower than 120mg/ml,ST-T wave abnormality,187,no,3.5,upsloping,0,fixed defect,1
2,41,female,atypical angina,130,204,sugar_lower than 120mg/ml,normal,172,no,1.4,downsloping,0,fixed defect,1
3,56,male,atypical angina,120,236,sugar_lower than 120mg/ml,ST-T wave abnormality,178,no,0.8,downsloping,0,fixed defect,1
4,57,female,typical angina,120,354,sugar_lower than 120mg/ml,ST-T wave abnormality,163,yes,0.6,downsloping,0,fixed defect,1

In [44]:
dummyheart = pd.get_dummies(heart, drop_first=True)

In [45]:
dummyheart.head()

,age,resting_blood_pressure,cholesterol,max_heart_rate_achieved,st_depression,num_major_vessels,target,sex_male,chest_pain_type_atypical angina,chest_pain_type_non-anginal pain,chest_pain_type_typical angina,fasting_blood_sugar_sugar_lower than 120mg/ml,rest_ecg_left ventricular hypertrophy,rest_ecg_normal,exercise_induced_angina_yes,st_slope_flat,st_slope_upsloping,thalassemia_fixed defect,thalassemia_normal,thalassemia_reversable defect
0,63,145,233,150,2.3,0,1,1,0,0,0,0,0,1,0,0,1,0,1,0
1,37,130,250,187,3.5,0,1,1,0,1,0,1,0,0,0,0,1,1,0,0
2,41,130,204,172,1.4,0,1,0,1,0,0,1,0,1,0,0,0,1,0,0
3,56,120,236,178,0.8,0,1,1,1,0,0,1,0,0,0,0,0,1,0,0
4,57,120,354,163,0.6,0,1,0,0,0,1,1,0,0,1,0,0,1,0,0

In [46]:
dummyheart.dtypes

age                                                int64
resting_blood_pressure                             int64
cholesterol                                        int64
max_heart_rate_achieved                            int64
st_depression                                    float64
num_major_vessels                                  int64
target                                             int64
sex_male                                           uint8
chest_pain_type_atypical angina                    uint8
chest_pain_type_non-anginal pain                   uint8
chest_pain_type_typical angina                     uint8
fasting_blood_sugar_sugar_lower than 120mg/ml      uint8
rest_ecg_left ventricular hypertrophy              uint8
rest_ecg_normal                                    uint8
exercise_induced_angina_yes                        uint8
st_slope_flat                                      uint8
st_slope_upsloping                                 uint8
thalassemia_fixed defect                           uint8
thalassemia_normal                                 uint8
thalassemia_reversable defect                      uint8
dtype: object

In [47]:
dummyheart.columns

Index(['age', 'resting_blood_pressure', 'cholesterol',
       'max_heart_rate_achieved', 'st_depression', 'num_major_vessels',
       'target', 'sex_male', 'chest_pain_type_atypical angina',
       'chest_pain_type_non-anginal pain', 'chest_pain_type_typical angina',
       'fasting_blood_sugar_sugar_lower than 120mg/ml',
       'rest_ecg_left ventricular hypertrophy', 'rest_ecg_normal',
       'exercise_induced_angina_yes', 'st_slope_flat', 'st_slope_upsloping',
       'thalassemia_fixed defect', 'thalassemia_normal',
       'thalassemia_reversable defect'],
      dtype='object')

In [48]:
dummyheart.iloc[5:8,0:4]

   age  resting_blood_pressure  cholesterol  max_heart_rate_achieved
5   57                     140          192                      148
6   56                     140          294                      153
7   44                     120          263                      173

In [49]:
dummyheart.to_csv('/home/multispiros/python data science/heart disease/dummyheart.csv',encoding='utf-8',index=False)

In [50]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
data = pd.read_csv("/home/multispiros/python data science/heart disease/dummyheart.csv")
X = data.drop(['target'],axis =1)
y = data['target']

In [51]:
bestfeatures = SelectKBest(score_func=chi2, k=10)
fit = bestfeatures.fit(X,y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']
print(featureScores.nlargest(15,'Score'))

                               Specs       Score
3            max_heart_rate_achieved  188.320472
4                      st_depression   72.644253
5                  num_major_vessels   66.440765
18     thalassemia_reversable defect   43.952735
9     chest_pain_type_typical angina   42.603378
13       exercise_induced_angina_yes   38.914377
16          thalassemia_fixed defect   38.097052
2                        cholesterol   23.936394
0                                age   23.286624
8   chest_pain_type_non-anginal pain   21.670328
14                     st_slope_flat   21.366462
7    chest_pain_type_atypical angina   15.295502
1             resting_blood_pressure   14.823925
6                           sex_male    7.576835
12                   rest_ecg_normal    3.982386

In [52]:
nlargest = featureScores.nlargest(14,'Score')
largest = nlargest['Specs'].values
large = data[largest]
target = data['target']
fsheart = pd.concat([large,target],axis=1)

In [53]:
fsheart.iloc[290:300,:]

,max_heart_rate_achieved,st_depression,num_major_vessels,thalassemia_reversable defect,chest_pain_type_typical angina,exercise_induced_angina_yes,thalassemia_fixed defect,cholesterol,age,chest_pain_type_non-anginal pain,st_slope_flat,chest_pain_type_atypical angina,resting_blood_pressure,sex_male,target
290,161,0.0,1,1,1,0,0,203,61,0,0,0,148,1,0
291,140,4.4,3,0,1,0,0,318,58,0,0,0,114,1,0
292,146,2.8,2,0,1,1,0,225,58,0,1,0,170,0,0
293,150,0.8,0,1,0,0,0,212,67,1,1,0,152,1,0
294,144,2.8,0,0,1,1,0,169,44,0,0,0,120,1,0
295,144,4.0,2,1,1,1,0,187,63,0,0,0,140,1,0
296,136,0.0,0,0,1,1,1,197,63,0,1,0,124,0,0
297,90,1.0,2,0,1,0,0,176,59,0,1,0,164,1,0
298,123,0.2,0,1,1,1,0,241,57,0,1,0,140,0,0
299,132,1.2,0,1,0,0,0,264,45,0,1,0,110,1,0

In [54]:
fsheart.to_csv('/home/multispiros/python data science/heart disease/fsheart.csv',encoding='utf-8',index=False)

fsheart = data.iloc[:,[3,4,5,19,10,14,17,2,0,9,15,8,1,6]]

merikew apo tis times einai ena noumero parapano apo oti deixnei to apo pano logo tou target

In [55]:
heart = pd.read_csv('/home/multispiros/python data science/heart disease/heart.csv')

In [56]:
a = pd.get_dummies(heart['cp'], prefix = "cp")
b = pd.get_dummies(heart['thal'], prefix = "thal")
c = pd.get_dummies(heart['slope'], prefix = "slope")
frames = [heart, a, b, c]
heart = pd.concat(frames, axis = 1)
heart.iloc[0:4,2:19]

,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,cp_0,cp_1,cp_2,cp_3,thal_0
0,3,145,233,1,0,150,0,2.3,0,0,1,1,0,0,0,1,0
1,2,130,250,0,1,187,0,3.5,0,0,2,1,0,0,1,0,0
2,1,130,204,0,0,172,0,1.4,2,0,2,1,0,1,0,0,0
3,1,120,236,0,1,178,0,0.8,2,0,2,1,0,1,0,0,0

In [103]:
heart.to_csv('/home/multispiros/python data science/heart disease/dummyv2heart.csv',encoding='utf-8',index=False)

In [104]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
data = pd.read_csv("/home/multispiros/python data science/heart disease/dummyv2heart.csv")
X = data.drop(['target'],axis =1)
y = data['target']
bestfeatures = SelectKBest(score_func=chi2, k=10)
fit = bestfeatures.fit(X,y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']
print(featureScores.nlargest(30,'Score'))

       Specs       Score
7    thalach  188.320472
9    oldpeak   72.644253
11        ca   66.440765
2         cp   62.598098
20    thal_3   43.952735
13      cp_0   42.603378
8      exang   38.914377
19    thal_2   38.097052
23   slope_2   25.001417
4       chol   23.936394
0        age   23.286624
15      cp_2   21.670328
22   slope_1   21.366462
14      cp_1   15.295502
3   trestbps   14.823925
10     slope    9.804095
1        sex    7.576835
12      thal    5.791853
18    thal_1    3.237945
6    restecg    2.978271
16      cp_3    2.117219
21   slope_0    1.139018
5        fbs    0.202934
17    thal_0    0.016008

In [105]:
nlargest = featureScores.nlargest(13,'Score')
largest = nlargest['Specs'].values
large = data[largest]
target = data['target']
fsheart = pd.concat([large,target],axis=1)

In [106]:
fsheart.head(2)

,thalach,oldpeak,ca,cp,thal_3,cp_0,exang,thal_2,slope_2,chol,age,cp_2,slope_1,target
0,150,2.3,0,3,0,0,0,0,0,233,63,0,0,1
1,187,3.5,0,2,0,0,0,1,0,250,37,1,0,1

In [107]:
fsheart.to_csv('/home/multispiros/python data science/heart disease/fsv2heart.csv',encoding='utf-8',index=False)